@{
    ViewData["Title"] = "O nas";
}

<div class="text-center">
    <h1 class="display-4">MIKE</h1>
    <p> Cześć jestem psem rasy labrador retiever o imieniu Mike, mam 5 lat. Bardzo lubię długie spacery pływanie i zabawę z moją rodziną.</p>
    <p><img src="/obraz/mike1.jpg" alt="Mike 2018" /><img src="/obraz/mike2.jpg" alt="Mike 2018" /></p>
</div>
